html, .App {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTAxY2RiNWMyY2JkNzVlY2EzZGFhZDczYWE3Y2FiOTk4M2Y2YmU1OSZjdD1n/PB1Bqg6uYLQwAQvdeT/giphy.gif);
  background-size: cover;
  color: rgb(136, 0, 0);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  height: 80vh;
  margin: 3%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

